<form class="uk-form-stacked uk-text-left uk-margin-uk-card uk-card-default uk-card-body" action="/add-review/{{poi._id}}" method="POST">
   <fieldset class="uk-fieldset">
      <div class="uk-grid-small" uk-grid>
         <div class="uk-width-3-4@s">
            <label class="uk-form-label">Review</label>
            <input class="uk-input" type="text" placeholder="Review Details" name="review">
         </div>
         <div class="uk-width-1-4@s">
            <label class="uk-form-label">Rating</label>
            <input class="uk-input" placeholder="0-5" type="number" min="0" max="5" step="0" name="rating">
         </div>
      </div>
   </fieldset>
   <div class="uk-margin uk-width-1-2@m">
      <button class="uk-button uk-button-primary uk-button-medium uk-border-rounded uk-width-2-5">Submit Review</button>
   </div>
</form>

<div class="uk-margin uk-width-3xlarge uk-margin-auto uk-card uk-card-default uk-card-body">

   <table class="uk-table uk-table-justify uk-table-divider">
      <caption>
         List of reviews
      </caption>
      <thead>
      <th>POI</th>
      <th>Added By</th>
      <th>Review</th>
      <th>Rating</th>
      </thead>
      <tbody class="uk-text-left">
      {{#each reviews}}
         <tr>
            <td>{{IndivInterests.poi}}</td>
            <td>{{member.firstName}} {{member.lastName}}</td>
            <td>{{review}}</td>
            <td>{{rating}}/5</td>
         </tr>
      {{/each}}
      </tbody>
   </table>
</div>


<!--<div class="uk-width-1-2@s">
         <label class="uk-form-label">Rating</label>
         <select class="uk-select" name="rating" >
            <option value="">Select a rating</option>
            <option value="5">Excellent</option>
            <option value="4">Very Good</option>
            <option value="3">Average</option>
            <option value="2">Poor</option>
            <option value="1">Terrible</option>
         </select>
      </div> --->

