<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body">
   <table class="uk-table uk-table-justify uk-table-divider">
      <caption>
         List of locations added
      </caption>
      <thead>
         <th>Category</th>
         <th>Point of Interest</th>
         <th>Description</th>
         <th>Location</th>
         <th>Name</th>
         <th></th>
      </thead>
      <tbody class="uk-text-left">
         {{#each castles}}
            <tr>
               <td>{{category.region}}</td>
               <td>{{poi}}</td>
               <td>{{description}}</td>
               <td>{{location}}</td>
               <td>{{ member.firstName }} {{ member.lastName }}</td>
               <td><a href="/del-indivInterest/{{_id}}" title="Delete" class="fas fa-trash fa-1x" style="color:rgb(255,3,3)"></a></td>
            </tr>
         {{/each}}
         <p>
            <span class="ui inverted green text">Total locations listed: {{seed-data.json.indivInterests.length}}</span><br>
         </p>
      </tbody>
   </table>
</div>