<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body">
   <table class="uk-table uk-table-justify uk-table-divider">
      <caption>
         List of locations added
      </caption>
      <thead>
         <th>Category</th>
         <th>Point of Interest</th>
         <th>Description</th>
         <th>Location</th>
         <th>Name</th>
      </thead>
      <tbody class="uk-text-left">
         {{#each castles}}
            <tr>
               <td>{{category.region}}</td>
               <td>{{poi}}</td>
               <td>{{description}}</td>
               <td>{{location}}</td>
               <td>{{ member.firstName }} {{ member.lastName }}</td>
            </tr>
         {{/each}}
      </tbody>
   </table>
</div>