<form class="uk-form-stacked uk-text-left uk-margin-uk-card uk-card-default uk-card-body"
      action="{{poi._id}}" method="POST">
   <fieldset class="uk-fieldset">

      <legend class="uk-legend"> <i class="far fa-compass fa-1x" style="color:rgb(241,113,4)"></i>
         Edit Point of Interest
      </legend>

      <div class="uk-form-label">Select Category</div>
      <div class="uk-form-controls">
         <select name="category" class="uk-select" value="{{poi.category}}">
            {{#each categories}}
                  <option  value={{region}}>{{region}}</option>
            {{/each}}
            <option selected="selected" value={{poi.category}}>{{poi.category}}</option>
         </select>
      </div>

      <div class="uk-margin">
         <input class="uk-input" type="text" placeholder="Enter castle name here" name="poi" value="{{poi.poi}}">
      </div>

      <div class="uk-margin">
         <input class="uk-input" type="text" placeholder="Description" name="description" value="{{poi.description}}">
      </div>

      <div class="uk-grid-small" uk-grid>
         <div class="uk-width-1-2@s">
            <label class="uk-form-label">Latitude</label>
            <input class="uk-input" placeholder="0.00" type="number" step="0.00001" name="latitude" value="{{poi.latitude}}">
         </div>
         <div class="uk-width-1-2@s">
            <label class="uk-form-label">Longitude</label>
            <input class="uk-input" placeholder="0.00" type="number" step="0.00001" name="longitude" value="{{poi.longitude}}">
         </div>

      </div>

   </fieldset>

   <div class="uk-width-1-2@m uk-margin">
      <button class="uk-button uk-button-primary uk-button-medium  uk-border-rounded uk-width-1-3">update</button>
   </div>
   {{> error }}
</form>
